#Virtual Python Environments
/venv

#Integrated Development Environments
/.idea
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/*
*.py[cod]
*.pyc
*$py.class

# C extensions
*.so

.cache/
cilantro.egg-info/

# FOR DEMO
cilantro/faucet.json

# LOGS
**/logs

# Data
data
cilantro/protocol/networks/data
certs
tests/vmnet/docker-compose.yml
.DS_Store
certs
state.tmp
seneca
*.dat
**/profiles/**
**/tmp_exec_code*.py

# Config files
db_conf.ini

# Docker
docker-compose.yml

# Docs
docs/sphinx/_build
fsock
