#Virtual Python Environments
/venv
venv
.python-version

#Integrated Development Environments
/.idea
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/*
*.py[cod]
*.pyc
*$py.class

# C extensions
*.so

# other extensions
*.svg
*.pdf
*.dot
*.ps

cilantro_ee.egg-info/
cilantro.egg-info/
capnproto-c++-0.7.0/
capnproto/
var/
mongo/



# FOR DEMO
cilantro_ee/faucet.json

# LOGS
**/logs

# Data
cilantro_ee/protocol/networks/data
certs
.DS_Store
state.tmp
seneca
*.dat
**/profiles/**
**/tmp_exec_code*.py
**/.terraform/**
data
vmnet_configs/constitutions/private
*.tfstate
*.tfstate.backup
ops/environments/*/.cache/*
ops/environments/*/conf
ops/environments/TJ*

# Config files
db_conf.ini
cilantro_ee/testnet_configs/testnet.ini
#cilantro_ee/vmnet_configs/constitutions/test/testnet.ini
tests/cloud/Dockerfile

# Docker
docker-compose.yml
docker/redis.env
src

# Docs
docs/sphinx/_build
fsock

#dir
build
dist
ops
/tests/integration/fixtures/block_storage/*
/tests/integration/mock/temp_network
/tests/integration/temp_network
/tests/integration/fixtures/file_queue/*
/tests/unit/.lamden/
/tests/unit/temp_network/
/tests/unit/temp_storage/
.vscode/settings.json
temp_network
.coverage
