# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include the script files
recursive-include scripts *

# Include the constitution files
recursive-include constitutions *

# Include the tools files
recursive-include tools *